.btn {
  width: 100%;
  aspect-ratio: 1/1;
  border: 3px solid white;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: white;
  cursor: pointer;
}

.btn.active {
  background-color: #4e9f3d;
  color: white;
}

.btn.inactive {
  opacity: 0.3;
}

.btn:hover:not(:disabled),
.btn:focus:not(:disabled) {
  background-color: #5c8fa1;
}
